#header{
    width: auto;
    height: 100px;
    background-color: rgb(251, 255, 0);
}
#menu{
    width:200px;
    height:180px;
    background-color: blue;
    float: left;
}
#sentence{
    width: 800px;
    height:180px;
    background-color: darkgreen;
    float: right;
}