#site-box {
    width : 100%;
}

#header {
    width: auto;
    height: auto;
    background-color: blue;
    text-align: center;
    font-size: 80px;
}

#menu {
    float: left;
    width: 250px;
}

#content {
    float: right;
    width: auto;
}